## Assingment 11

In [7]:
!pip install pandas

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in d:\anaconda\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\anaconda\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [8]:
import pandas as pd

data = pd.read_csv("student data -.csv")

grades = []

for p in data["Percentage"]:
    if p >= 80:
        grades.append("A")
    elif p >= 70:
        grades.append("B")
    elif p >= 60:
        grades.append("C")
    elif p >= 50:
        grades.append("D")
    else:
        grades.append("F")

data["Grade"] = grades

data.to_csv("student data with grades.csv", index=False)

data.head()

   roll no      Name  Chemistry  Physics  Math  Percentage Grade
0      101     Aliza         50       23    87       53.33     D
1      102    Fareed         45       24    88       52.33     D
2      103     Basit         46       25    89       53.33     D
3      104  Abdullah         47       26    90       54.33     D
4      105       Ali         48       27    67       47.33     F